body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:216px;
  width:170px;
  height:170px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
